<%- include("../views/header.ejs")%>
  <link rel="stylesheet" href="styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<p>Halli, Hallo</P>
<p> So kontaktieren Sie uns, am besten gar nicht </p>