<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include ("header.ejs") %>
    <h1> Invalid Registration, please go back to the register screen</h1>
    <script> alert("Please enter a valid password") </script>
</body>
</html>