

<div class="qrcodecontainer">
    <form action="/qrcode" method="POST">
        <label for="name">Enter your URL pls:</label><br>
        <input type="text" id="name" name="qrcode"><br><br>
        <div class="btn-container">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>