body::after {
    content: "";
    background-image: url('home.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8; 
    z-index: -1;
}